uploads/*.jpg
uploads/*.png

merge_images/*.jpg
merge_images/*.png

cropped_images/*.jpg
cropped_images/*.png

bg_removed_images/*.jpg
bg_removed_images/*.png

annotated_images/*.png
annotated_images/*.jpeg
annotated_images/*.jpg
annotated_images/*.txt

env/
__pycache__/
.venv/
